#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default

      = link_to (image_tag pin.image.url()), pin
      .panel.body
        %h2= link_to pin.title, pin
        %p.user
        Submitted by
        = pin.user.email
        = button_to("Approve", approve_admin_pin_path(pin), class: "btn btn-primary", method: :patch)
